<div class="dates-lecture-modal">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add complex measurement</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="panel-body">
            <form role="form" ng-submit="addComplex()" id="add_monitor_form">
                <div class="form-group text-left">
                    <label>Complex measurement name</label>
                    <input class="form-control" placeholder="Measurement name" ng-model="form.complex_name" required>
                </div>
                <div class="form-group text-left">
                    <label>Host: </label>
                    <select class="form-control" placeholder="Host:" ng-change="getMeasurements()" ng-model="form.host_name" required>
                        <option ng-repeat="host in hosts"> {{host.name}} </option>
                    </select>
                </div>
                <div class="form-group text-left">
                    <label>Type:</label>
                    <select class="form-control" placeholder="Host:" ng-change="getMeasurements()" ng-model="form.measurement_name" required>
                        <option ng-repeat="measurement in measurements"> {{measurement.description}} </option>
                    </select>
                </div>
                <div class="form-group text-left">
                    <label>Time window:</label>
                    <input class="form-control" type="number" placeholder="Monitor posrt" ng-model="form.time_window" required>
                </div>
                <div class="form-group text-left">
                    <label>Time interval:</label>
                    <input class="form-control" type="number" placeholder="Monitor posrt" ng-model="form.time_interval" required>
                </div>
            </form>
            <div ng-if="error" class="error">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{error}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" form="add_monitor_form">Add monitor</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" type="button" ng-click="simulateError()">Simulate error</button>
    </div>
</div>