
<div class="row" >
    <div class="col-lg-6">
        <h1 class="page-header">{{monitor.name}}</h1>
    </div>
    <div class="col-lg-6">
        <h1 class="page-header">
            <button type="button" class="btn btn-danger" ng-click="remove(monitor.id)"> Delete monitor </button>
            <button type="button" class="btn btn-success" ng-click="addComplexModal()"> Add new complex measurement  </button>
        </h1>
    </div>
</div>

<div class="row monitor-info-options">
    <div class="col-lg-4 col-xs-12 form-inline options-group refresh-option">
        <input
            type="checkbox"
            class="refresh-checkbox form-check-input"
            ng-model="refreshEnabled"
            ng-disabled="archival"
            ng-change="setInterval()">

        <label>
            Refresh plot every
            <input
                type="number"
                class="refresh-interval"
                ng-disabled="!refreshEnabled || archival"
                ng-model="refreshInterval"
                ng-change="setInterval()"
                min="1"/>
            seconds
        </label>
    </div>

    <div class="col-lg-3 col-sm-4 form-inline options-group">
        <label>From:</label>
        <date-time-picker id="datepickerFrom"
                          ng-model="timeFrom"
                          lower-than="datepickerTo"
                          on-hide="plotArchivalMeasurements">
        </date-time-picker>
    </div>

    <div class="col-lg-3 col-sm-4 form-inline options-group">
        <label>To:</label>
        <date-time-picker id="datepickerTo"
                          ng-model="timeTo"
                          greater-than="datepickerFrom"
                          on-hide="plotArchivalMeasurements">
        </date-time-picker>
    </div>

    <div class="col-lg-2 col-sm-4 col-xs-12 options-group">
        <button class="btn btn-danger" ng-click="resetTimeFilter()" ng-if="timeFrom || timeTo">Reset</button>
        <button class="btn btn-info"
                ng-csv="getDataForExport(data)"
                csv-header="getSeriesForExport(series)"
                filename="data.csv"
                ng-if="data && !refreshEnabled">
            Export Data
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-12">
        <hosts-tree-view
            ng-if="hosts"
            ng-model="hosts"
            select-measurements="selectMeasurements"
            deselect-measurements="deselectMeasurements">
        </hosts-tree-view>
    </div>

    <div class="col-lg-9 col-md-12">
        <canvas
            ng-show="data"
            id="line"
            class="chart chart-line"
            chart-data="data"
            chart-options="options"
            chart-series="series">
        </canvas>
    </div>
</div>

<div class="row"  >
    <h2>Last measurements:</h2>
    <div class="panel tabbed-panel panel-default" ng-init="selected='simple'">

        <div class="pull-left">
            <ul class="nav nav-tabs">
                <li ng-class="{'active':selected == 'simple'}"><a ng-click="selected='simple'">Simple measurement</a></li>
                <li ng-class="{'active':selected == 'complex'}"><a href="" ng-click="selected='complex'">Complex measurement</a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active"  ng-show="selected==='simple'">
                <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover">
                    <div class="pull-right">
                        <label>Search: <input ng-model="searchInput" ng-change="filter()"></label>

                    </div>
                <thead>
                    <tr>
                        <th>Host name</th>
                        <th>Resource </th>
                        <th>Value</th>
                        <th>Time</th>
                    </tr>
                </thead>

                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="value in allValues | filter: search">
                        <td>{{value.host_name}}</td>
                        <td> {{value.description}}  </td>
                        <td>{{ value.value }}</td>
                        <td>{{value.date | timeago}}</td>
                    </tr>
                </tbody>


                </table>
                </div>
            </div>

            <div class="tab-pane active"  ng-show="selected==='complex'">
                <div class="dataTable_wrapper">
                    <div ng-if="complexError" class="error">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{complexError}}
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Measurement Id</th>
                            <th>Interval</th>
                            <th>Window</th>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                        </thead>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="complex in allComplex">
                            <td>{{complex.id}}</td>
                            <td>{{complex.measurement_id }}</td>
                            <td>{{complex.interval}}</td>
                            <td>{{complex.window}}</td>
                            <td>{{complex.name}}</td>
                            <td>{{complex.type}}</td>
                            <td>{{complex.type}}</td>
                            <td><button ng-if="complex.canRemove" type="button" class="btn btn-danger" ng-click="removeComplex(complex.id)"> Delete </button></td>
                        </tr>
                        </tbody>


                    </table>
                </div>
            </div>

        </div>
    </div>
</div>




